[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xmonad
Comment=Lightweight X11 tiled window manager written in Haskell
Exec=xmonad
Icon=xmonad
Type=XSession
