[submodule "dots/Linux/config/xmonad"]
	path = dots/Linux/config/xmonad
	url = git@github.com:kronolynx/xmonad.git
[submodule "dotfiles/Shared/config/nvim"]
	path = dots/Shared/config/xmonad
	url = git@github.com:kronolynx/nvim.git
